<div layout="row" ng-cloak layout-fill >
  <section layout="column" flex="20" layout-padding layout-margin >
    <div class="block1">1</div>
  </section>

  <section layout="column" flex layout-padding layout-margin >
    <div class="block2">2</div>
    <div class="block3">3</div>
  </section>

  <section layout="column" flex layout-padding layout-margin >
    <div class="block4">4</div>
    <div class="block5">5</div>
    <div class="block6">6</div>
  </section>

</div>
  <section layout="row" flex layout-padding layout-margin >
      <div class="block7">7</div>
  </section>
